*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
background-color: white;
height: 10px;
justify-content: center;

/* border: 2px solid black; */
}

.nav-bar{
    display: inline-block;
    align-items: center;
      background-color: white;
      margin: 0;
      }

    .logo {
    width:100px; 
    height:20px; 
    margin-right:20px; 
    margin-left: 5px; 
    margin-top: 10px;
    display: inline-block;
   }
.iconbars{
  display: inline-block;
}
.main-title{
    margin-top: 50px;
    margin-bottom: 50px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 500px;
text-align: center;
}
.header{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: lightseagreen;
  font-weight: 800px;  
  margin-right: auto;
}


 div.container {
    text-align: center;
    position: relative; 
    top: 5px; 
 }
  


  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: center;
    overflow: hidden;
  }

  .navbar > a{
    display: inline-block;
  }

  .nav1{
    position: relative;  
    left:0; 
    visibility: visible; /*to make the code visible and properly arranged*/
  }
  .nav2{
    position: relative;
    left: 200px;
    top: 10px;
    visibility: visible;
  }

  .nav3{
    position: relative;
    left: 400px;
    top: 10px;
    visibility: visible;
  }

  .nav4{
    position: relative;
    left: 600px;
    top: 10px;
    visibility: visible; 
  }
  
.iconbars1, .iconbars2 {
  display: inline-block;
}

.iconbars1 {
  position: relative; 
  left: 400px; 
}

.iconbars2 {
  position: relative; 
  left: 420px; 
}

.btn{
  position: relative; 
  left: 450px;
  width: 120px; 
  height: 40px; 
  background-color: #2196F3;
  color: whitesmoke;
  border-radius: 5%;
}

.btn1{
  position: relative; 
  left: 470px;
  width: 50px; 
  height: 50px;  
  background-color:rgb(68, 5, 58);
  color: white;
  border-radius: 50%;
}

.btn3{
  position: relative; 
  left: 30px;
  width: 50px; 
  height: 50px;  
  background-color:rgb(68, 5, 58);
  color: white;
  border-radius: 50%;
}


  .navbus1{
    position: relative; 
    left: -135px;
    visibility: visible;
  }
  .navbus2{
    position: relative;
    left: 60px;
    top: 10px;
    visibility: visible;
  }

  .navbus3{
    position: relative;
    left: 260px;
    top: 10px;
    visibility: visible;
  }

  #nav {
    list-style:none inside;
    margin:0;
    padding:0;
    text-align:center;
    }

    #nav li {
    display:inline-block;
        background: white; /* menu background color */
       }

    #nav li a {
    display:inline-block;
    padding:0;
    text-decoration:none;
    width:130px; /* this is the width of the menu items */
       
    line-height:35px; /* this is the hieght of the menu items */
    color:black; /* list item font color */
    }


    #nav li li a {font-size:80%;} /* smaller font size for sub menu items */
    #nav li:hover {background:whitesmoke} /* highlights current hovered list item and the parent list items when hovering over sub menues */
    #nav ul, .grid-container {
    position:absolute;
    padding:0;
    left:0;
    display:none; /* hides sublists */
        }


    #nav li:hover ul ul {display:none;} /* hides sub-sublists */
    #nav li:hover ul {display:block;} /* shows sublist on hover */
    .grid-container, #nav li li:hover ul {
    display:block; /* shows sub-sublist on hover */
    margin-left:200px; /* this should be the same width as the parent list item */
    margin-top:-35px; /* aligns top of sub menu with top of list item */
    }

    
.trash {
  margin-bottom: 20px;
 
}

.team{
  margin-bottom: 50px;

}
    .grid-container {
      /* display: grid; */
      width: auto ;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
      background-color: #2196F3;
      padding: 10px;
      display: none;
    }
    
    
    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
    }
    
    .item3 {
      grid-row-end: span 3;
    }

    /* .sidebar{
      width: 300px; 
      border: 1px solid white;
      height: 650px;
      position: relative;
      top: 20px;
      left: 0;
      display: block; 
    } */

    .sides > li {
      display: block;
    }
    
.iconbars{
  margin: 30px 20px 20px 20px;
}

#nav{
  display: inline-block;
}

.items > a{
  display: block;
  justify-content: space-between;
}

.btn3, .free, .personal {
  display: inline-block;

}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: white;
  padding: 10px;
  left:0px;
  top:30px;
  width: 700px;
  border: 1px solid black;
  justify-content: left;
}
 .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: left;
  display: inline-block;

 
} 


.headersss{
  position: relative;
  font-size: 10px;
  display: block;
 top: 10px;
  left: 5px;
}

/* .img1{
  position: relative;
  width: 20px; height: 20px;
 margin-left: 0;
 display: inline-block;
} */

.logo1{
 float: left;
 width: 50px;
 margin-right: 5px;
  }

  .item3 {
    grid-row-end: span 3;
  }

  .ques, .log, .sign, .search {
    display: inline-block;
  }

  .search {
    width: 500px; 
    height: 35px;
    position: relative; 
    right: 10px; 
    border: 2px solid whitesmoke;
      }

      .ques{
        display: inline-block;
        position: relative; 
        margin-left: 10px; 
        margin-right: 10px;
        width: 20px; 
        height: 20px; 
        border-radius: 100%;
      }

      .sign {
        width: 80px; 
        height: 40px; 
        color: white; 
        background-color: slateblue;
        margin: 10px;
        border: none;
        border-radius: 5%;
        position: relative; 
        right: 0px;
        left: 10px;
      }

      .signs {
        width: 100px; 
        height: 40px; 
        color: white; 
        background-color: slateblue;
        margin: 10px;
        border: none;
        border-radius: 5%;
        position: relative; 
        right: 0px;
        left: 10px;
        margin-top: 30px;
      }

      .log{
        width: 70px; 
        height: 30px; 
        color: black; 
        background-color: lightgray;
        border: none;
        border-radius: 5%;
        position: relative;
        right: 10px; 
        left: 10px;
      }
.whatd{
  font-family: 'argent cf';
  font-size: 48px; 
 
}

.can {
  margin-top: 20px;
  font-size: 22px;
}
      .center-text {

        display: inline-block; 
        width: 700px;
        height: 200px; 
        /* border: 1px solid red; */
        justify-content: space-around;
        margin-top: 40px; 
        margin-left: 450px; 
        margin-right: 500px; 
        text-align: center;
      }

      .business{
        width: 50px; 
        height: 50px; 
        position: relative; 
        left: 100px; 
        margin-top: 40px; 
      }

      .med{
        position: relative;
                width: 200px; 
                height: 150px;  
                margin-left: 400px;
                margin-top: 20px;
      
      }

    .hero-container{
      width: 1500px; 
      /* margin-right: 200px; 
      margin-left: 200px;  */
      height: 600px; 
      border: 1px solid black;
    }

    .britney{
      width: 250px; 
      height: 200px; 
      position: relative; 
      margin-left: 1200px; 
      margin-top: -150px
    }
    .sun{
      width: 250px; 
      height: 200px; 
      position: relative; 
      margin-left: 1170px; 
       margin-top: 50px 
    }

    .employee{
      width: 250px; 
      height: 200px; 
      position: relative; 
      margin-left: 100px; 
      margin-top: -150px
    }

    .perfect{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 40px; 
      font-weight: 500px;
      text-align: center;
    }

    .pricing{
      display: grid;
      grid-template-columns: 33% 33% 34%;
      background-color: white;
      padding: 10px;
      margin-left:300px;
      margin-top:80px;
      width: 1000px;
      /* border: 1px solid black; */
      /* justify-content: center; */
      text-align: center;
    }
     .pricing-item {
      background-color: rgba(255, 255, 255, 0.8);
      /* border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 10px; */
      font-size: 30px;
      text-align: left;
      display: inline-block;
     
    } 

    .cfree, .cteam, .cpro {
      text-align: center;
      font-size: 18px;
      width: 300px; 
      height: 40px; 
      justify-content: center;
      margin-right: 30px;
      background-color: slateblue;
      color: whitesmoke;
      border: none;
      border-radius: 2%;
           }

    .pricing-item > p{
      font-size: 18px; 
      text-align: center;
      justify-content: center;
    }

    .cteam{
      margin-left: 20px;
    }

    .cpro{
      margin-left: 10px;
    }
    
    /* .scroll{
      margin-top: 100px;
      width: 1200px; 
      margin-right: -100px;
      margin-left: -400px;
     justify-content: left;  
      border: 1px solid red;
    } */
    /* .marquee {
      position: relative;
      width: 1200px;
      max-width: 100%;
      height: 200px;
      overflow-x: hidden;
      margin-top: 100px; 

    } */
    
    .track {
      position: absolute;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 32s linear infinite;
      width: 1200px;
      margin-top: 280px;
    }
    
    @keyframes marquee {
      from { transform: translateX(0); }
      to { transform: translateX(-50%); }
    }
    

    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - var(--gap)));
      }
    }

    .track {
      position: absolute;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 10s linear infinite;
    }

    .edu{
      text-align: left; 
      width: 800px;
      margin-top: 30px; 
      margin-left: 200px; 
    }

    .trusted{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 36px; 
      font-weight: 500px; 
      margin-top: -25px;
          }

          .trust{
            margin-top: 200px; 
            margin-left: -100px; 
            width: 500px; 
          }

          .vid{
            position: relative;
            margin-top: 200px;
            width: 600px; 
            height: 500px; 
            margin-left: -150px; 
            display: inline-block;
          }

          .meds{
            position: relative;
            margin-left: 500px; 
            display: inline-block;
            top: -300px; 
           width: 500px;
          }

          .ready{
            font-size: 36px;
            margin-bottom: 20px; 
            margin-top: -35px; 
            text-align: left;
          }

          .benefit{
            font-size: 18px; 
            text-align: left; 
            margin-bottom: 20px; 
          }

          .create{
            background-color: blueviolet;
            width: 120px; 
            height:40px; 
            color:whitesmoke;
            border: none; 
            border-radius: 5%;
            text-align: center; 
            position: relative;
            margin-right: 500px; 
            margin-top: 20px;
          }

          .builds{
            width: 500px; 
            height: 300px; 
            margin-left: -400px; 
            margin-top: -500px;
            /* margin-right: 500px;  */
            
          }

          .build{
            margin-bottom: 20px; 
            font-size: 36px; 
            font-weight: 500px; 
            font-family:'Times New Roman', Times, serif;
            text-align: left;
            margin-top: 120px; 
                      }

                      .benefiter{
                        font-size: 14px; 
                        font-family:Verdana, Geneva, Tahoma, sans-serif;
                        font-weight: 200px; 
                        margin-bottom: 20px; 
                        text-align: left; 
                        margin-top: 20px; 
                      }

                      .works{
                        margin-left: -400px; 
                        background-color: blueviolet;
                        height: 40px; 
                        width: 100px; 
                        border: none; 
                        border-radius: 5%;
                        color: white;

                      }

.vide{
  margin-top: 750px; 
   margin-left: 100px;  
  /* width: 400px; 
  height: 600px;  */
}

.builder{
  width: 450px; 
  height: 400px; 
  margin-top: -300px; 
  margin-left: 700px; 
  text-align: left;

}

/* .creates{
  margin-right: 200px; 
} */

.creates{
  background-color: blueviolet;
  width: 120px; 
  height:40px; 
  color:whitesmoke;
  border: none; 
  border-radius: 5%;
  text-align: center; 
  position: relative;
  margin-right: 500px; 
  margin-top: 20px;
  margin-right: 200px; 
}
.builders{
  margin-bottom: 20px; 
  font-size: 36px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400px; 
 
}

.medium{
  margin-top: 1200px; 
  margin-left: -800px; 
  width: 400px; 
  height: 300px; 
  /* border: 1px solid red;  */
}

.vides{
  margin-top: 20px;
}

.texting{
  text-align: center;
  width: 700px; 
  height: 300px; 
  margin-left: 200px; 
  margin-top: 200px; 
}

.template{
  font-size: 36px; 
  font-family:'Times New Roman', 'Times, serif';
  margin-bottom: 20px; 

}

.custom{
  font-size: 20px; 
}

.gallery{
  width: 1300px; 
  height: 650px; 
  border: 1px solid rgb(211, 16, 16);
  margin-top: 300px; 
  margin-left: -800px; 
  position: relative
}

.templates{
  background-color:lightgray;
  width: 150px; 
  height: 30px; 
  margin-top: 1050px; 
  margin-left: -200px;
  color: black;
  border: none;
  border-radius: 5%;
}

.customizer{
  position: relative;
  display: block;
  left: -680px; 
}
.laur{
  position: relative;
  margin-top: 15x; 
  margin-left: 670px; 
}

.team-retro{
  margin-top:200px; 
}